extends layout

block content
  h1= title
  p Welcome to #{title}
  p Hello World
  p #[a(href="/countries") Countries]
  p #[a(href="/countries/add") Countries Add]
  p #[a(href="/countries/edit") Countries Edit]
  p #[a(href="/countries/delete") Countries Delete]