extends layout.pug
block content
  title= title
  h1= title
  p Welcome to #{title}
  p #[a(href="http://127.0.0.1:5000/getcountries") Test Old API]
  p #[a(href="/countries") Countries]
  p #[a(href="/countries/add") Countries Add]
  p #[a(href="/countries/edit") Countries Edit]
  p #[a(href="/countries/delete") Countries Delete]