extends layout

block content
  #app
  #showSingle
  script(src="https://unpkg.com/react@16/umd/react.development.js" crossorigin)
  script(src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin)
  script(src="https://cdnjs.cloudflare.com/ajax/libs/reactstrap/4.8.0/reactstrap.min.js")
  script(src="/javascripts/main.js")
